body{
    padding: 0;
    margin: 0;
}
.card1{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 14px;
    left: 14px;
}
.card2{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 14px;
    left: 154px;
}
.card3{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 14px;
    left: 292px;
}
.card4{
    height: 100px;
    width: 123px;
    background-color: green;
    position:absolute;
    top: 14px;
    left: 428px;
}
.card5{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 14px;
    left: 566px;
}
.card6{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 128px;
    left: 17px;
}
.card7{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 128px;
    left: 154px;
}
.card8{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 128px;
    left: 292px;

}
.card9{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 128px;
    left: 428px;
}
.card10{
    height: 100px;
    width: 123px;
    background-color: green;
    position: absolute;
    top: 128px;
    left: 565px;
}
.card1:hover{
    transition-duration: 3s;
    width: 15rem;
}
.card2:hover{
    transition-duration: 3s;
    width: 15rem;
    height: 15rem;
}
.card3:hover{
    transition-duration: 3s;
    box-shadow: 15rem;
    top: 15rem;
}
.card4:hover{
    transition-duration: 3s;
    top: 15rem;
    box-shadow: 15rem;
}
.card5:hover{
    transition-duration: 3s;
    animation-timing-function: b2 4s linear ease-in;
    display: flex;
    width: 15rem;
}
.card6:hover{
    transition-duration: 3s;
    animation-timing-function: b2 4s linear ease-out;
    display: flex;
    width: 15rem;
}
.card7:hover{
    transition-duration: 3s;
    color: pink;
    width: 15rem;
    justify-content: center;
}
.card8:hover{
    transition-duration: 3s;
    animation-timing-function: b2 4s linear infinite;
    left: 15rem;
    width: 15rem;
}
.card9:hover{
    transition-duration: 3s;
    top: 15rem;
    box-shadow: 15rem;
}
.card10:hover{
    transition-duration: 4s;
    animation:  4s linear infinite;
    display: flex;
    justify-content: center;
    
}
@media scren and (min-width:360px) and (max-width:490px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .box{
        margin: 10px;
    }
}
     
